{% extends 'base.html' %}
{% block title %}
  login
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" />
          </div>
          <button type="submit" class="btn btn-primary pb-2">Submit</button>
          <a href="{% url 'signup' %}" class="pt-2 btn btn-success"><strong>Don't have account! Create Account.</strong></a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
